*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root
{
    --primary: 26, 38, 52;
    --secondary: 255, 255, 255;
    --tertiary: 51, 66, 87;
    --quaternary: 0, 113, 188;
    --quinary: 32, 62, 95;
    --services-b1: 0, 81, 146;
    --services-b2: 0, 113, 188;
    --services-b3: 77, 168, 218;
    --services-text: 255, 255, 255;
}

.fixed-color
{
    --primary: 255, 255, 255;

    color: rgb(var(--primary));
}

body
{
    height: 100vh;

    font-weight: 400; /* light: 300 | regular: 400 | medium: 500 | semiBold: 600 | bold: 700 | extraBold: 800*/
    font-style: normal;
    font-family: "Barlow", sans-serif;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    background-color: rgb(var(--secondary));
}
body, a
{
    color: rgb(var(--primary));
}

b
{
    font-weight: 700;
}

svg,
img
{
    height: 100%;
}

button
{
    position: relative;

    border: none;
    border-radius: 4px;

    font-size: 1em;
    font-weight: 700;
    
    cursor: pointer;
    padding: 12px 20px;

    color: rgb(var(--secondary));
    border: 1px solid rgb(var(--services-b1));
    background-image: linear-gradient(
        rgb(var(--quaternary)), 
        rgb(var(--services-b1))
    );
}
button:hover::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(transparent, rgba(var(--primary), 10%));
}

.icon
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.b-style
{
    border: 0 solid;
    border-color: rgba(var(--tertiary), 22%);
}

.widget > header
{
    text-align: center;
    margin-bottom: 16px;
}
.widget > header > h1.title
{
    font-size: 2em;
    font-weight: 700;
    color: currentColor;
    text-transform: uppercase;
}
.widget > header > h2.subtitle
{
    opacity: 60%;
    font-size: 1em;
    font-weight: 700;
    color: currentColor;
    text-transform: uppercase;
}
.widget > .content
{
    color: currentColor;
    padding: 0 240px;
}
.widget > .content li
{
    list-style: inside;
}

table
{
    border-spacing: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
}

table *> tr
{
    position: relative;
    display: flex;
    margin-bottom: 20px;
}
table *> tr:last-child
{
    margin-bottom: 0;
}
table *> tr::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    margin-bottom: -10px;
    background-color: rgba(var(--primary),.2);
}
table *> tr:last-child:before
{
    display: none;
}
table *> tr:hover
{
    background-color: rgba(var(--primary), .05);
}

table th
{
    flex: .25;
    font-size: 1.4em;
    text-align: left;
}
table *> tr:nth-child(3n+1) > th {
    color: rgb(var(--services-b1));
}
table *> tr:nth-child(3n+2) > th {
    color: rgb(var(--services-b2));
}
table *> tr:nth-child(3n+3) > th {
    color: rgb(var(--services-b3));
}
table td
{
    flex: 1;
    opacity: 80%;
}

table th,
table td
{
    padding: 10px;
}


/* ---- T O P B A R ---- */

#topbar,
.action-submenu-responsive
{
    display: flex;
    align-items: center;
    

    height: 40px;
    border-bottom-width: 1px;
    background-color: rgba(var(--primary), 8%);
    font-family: "Barlow Semi Condensed", sans-serif;
}

#topbar > .container,
#main-menu > .container
{
    display: flex;
    justify-content: space-between;
}

#topbar .icon
{
    fill: rgb(var(--tertiary));
}

#topbar .contact-area,
#topbar .social-area
{
    display: flex;
    align-items: center;
}
#topbar .contact-area .icon
{
    width: 16px;
    height: 16px;
}
#topbar .social-area .icon
{
    width: 24px;
    height: 24px;
}

#topbar a
{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 24px;
}
#topbar a:hover
{
    background-color: rgba(var(--primary), 5%);
}

#topbar .container >*:first-child a
{
    margin-right: 5px;
}
#topbar .container >*:last-child a
{
    margin-left: 5px;
}
#topbar span
{
    margin-left: 10px;
    color: rgba(var(--tertiary), 80%);
}


/* ---- M A I N - M E N U ---- */

#main-menu
{
    height: 80px;
    --spacing: 4px;
    margin-bottom: var(--spacing);
}
#main-menu::after,
#main-menu .submenu::after
{
    content: '';
    display: block;
    width: 100%;
    
    height: var(--spacing);
    background-image: linear-gradient(90deg, rgb(var(--quinary)), rgb(var(--quaternary)));
}

#main-menu > .container
{
    height: 100%;
    align-items: center;
}

#main-menu .logo
{
    display: block;
    height: 45px;
}

.action-submenu-responsive
{
    display: none;
    padding: 0 10px;
}

#main-menu .open_m-mobile,
#main-menu .close_m-mobile
{
    display: none;
    border: none;
    width: auto;
    height: auto;
    fill: rgb(var(--quaternary));
    background: transparent;
}

#main-menu .open_m-mobile
{
    padding: 0;
}
#main-menu .open_m-mobile > .icon
{
    height: 40px;
}

#main-menu .close_m-mobile
{
    padding: 6px;
    column-gap: 8px;
    align-items: center;
}
#main-menu .close_m-mobile > .icon
{
    height: 20px;
}

#main-menu ul,
#main-menu .menu-link,
#main-menu .menu-link a
{
    height: 100%;
}
#main-menu .menu-link,
#main-menu .menu-link > li,
#main-menu .menu-link a
{
    display: flex;
}
#main-menu .menu-link > li
{
    position: relative;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 300;
    text-transform: uppercase;
}
#main-menu .menu-link > li::before
{
    content: '';
    position: absolute;
    right: -5px;
    width: 1px;
    height: 40%;
    background-color: rgba(var(--primary), 16%);
}
#main-menu .menu-link > li:last-child:before
{
    display: none;
}
#main-menu .menu-link a
{
    position: relative;
    padding: 8px 26px;
    align-items: center;
}

#main-menu .menu-link > li:hover,
#main-menu .menu-link > li.hover
{
    background-image: linear-gradient(rgb(var(--quinary)), rgb(var(--quaternary)));
}
#main-menu .menu-link > li:hover > a,
#main-menu .menu-link > li.hover > a
{
    color: rgb(var(--secondary));
}

#main-menu .submenu ~ a::after
{
    content: '';
    display: block;
    
    margin-top: 0.16em;
    margin-left: 6px;
    border-radius: 2px;

    border-top: 0.4em solid transparent;
    border-left: 0.4em solid currentColor;
    border-bottom: 0.4em solid transparent;

    transition: transform 200ms ease-in-out;
}
#main-menu .menu-link > li:hover > a::after
{
    transform: rotate(90deg);
}
#main-menu .menu-link > li:hover .submenu
{
    top: 100%;
    opacity: 100%;
    visibility: visible;
}
#main-menu .submenu
{
    visibility: hidden;
    opacity: 0%;
    position: absolute;
    z-index: 9;
    top: 130%;
    right: 0;
    width: 220px;
    height: auto;
    font-size: .8em;
    transition: 
        top 200ms ease-in-out,
        opacity 200ms ease-in-out,
        visibility 200ms ease-in-out
    ;
    box-shadow: 0px 2px 2px rgba(var(--primary), 20%);
    background: rgb(var(--secondary));
}
#main-menu .submenu a
{
    justify-content: center;
}
#main-menu .submenu a:hover
{
    background-color: rgba(var(--primary), 5%);
}


/* ---- I N T R O ---- */

#intro
{
    position: relative;
    display: flex;

    background-size: cover;
    background-position: 0 38%;
    background-image: linear-gradient(270deg, rgb(var(--quinary)), rgb(var(--quaternary)));
}
#intro::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        transparent 48%, 
        rgba(var(--primary))
    );
}
#intro .details
{
    width: 600px;
    --spacing: 100px;
}
#intro .details > h1
{
    margin-bottom: 16px;
    font-size: 3em;
    font-weight: 700;
    margin-top: var(--spacing);
}

#intro .details >:only-child
{
    margin: var(--spacing) 0;
    color: rgb(var(--services-text));
}

#intro .details > .btn-request
{
    display: flex;
    align-items: center;
    margin-bottom: calc(180px/2 + var(--spacing));
}
#intro .btn-request > .icon
{
    height: 18px;
    transform: rotate(90deg);
    fill: rgb(var(--services-text));
    transition: transform 200ms ease-in-out;
}
#intro .btn-request:hover > .icon
{
    transform: rotate(90deg) translateY(-6px);
}

/* ---- S E R V I C E S ---- */

#services
{
    z-index: 10;
    position: relative;
    
    margin-top: calc(-180px/2);
    height: 180px;
}
#services > .container
{
    display: flex;
    height: 100%;
}
#services .box
{
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 12px;
    overflow: hidden;
    column-gap: 16px;
}
#services .box::after
{
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, rgba(var(--primary), 80%));
}

#services .box:first-child
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#services .box:last-child
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#services .box:nth-child(3n+1)
{
    background-color: rgb(var(--services-b1));
}
#services .box:nth-child(3n+2)
{
    background-color: rgb(var(--services-b2));
}
#services .box:nth-child(3n+3)
{
    background-color: rgb(var(--services-b3));
}

#services .box > .logo
{
    flex: 1;
    z-index: 2;
    fill: rgb(var(--services-text));
    transition: transform 200ms ease-in-out;
}
#services .box:hover > .logo
{
    transform: translateY(-6px);
}

#services .box > .details
{
    flex: 2.5;
    z-index: 2;
}

#services .box > .details h3
{
    margin-bottom: 12px;
    font-weight: 600;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: rgb(var(--services-text));
}
#services .box > .details p
{
    font-size: .9em;
    color: rgba(var(--services-text), 60%);
}


/* ---- C O M M I T M E N T ---- */

#commitment,
#about-us,
#partners,
#privacy_terms
{
   padding: 34px 0; 
}


/* ---- A B O U T - U S ---- */

#about-us
{
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('../image/section_800111.jpg');
}
#about-us header,
#about-us .content
{
    z-index: 1;
    position: relative;
}
#about-us::after
{
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 24px solid rgb(var(--secondary));
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    
}
#about-us::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(110deg, rgba(var(--quaternary), 80%), rgba(var(--primary), 80%) 76%);
}


/* ---- P A R T N E R ---- */

#partners .content
{
    padding: 12px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-color: rgba(var(--primary), 4%);
}
#partners .content > .container
{
    display: flex;
    justify-content: space-evenly;
}
#partners .logo
{
    height: 40px;
}
#partners svg
{
    fill: rgb(var(--primary));
}


/* ---- P R I V A C Y - T E R M S ---- */

#privacy_terms .content
{
    padding: 0;
}
#privacy_terms h1,
#privacy_terms h2
{
    text-transform: uppercase;
}

#privacy_terms h2
{
    margin-top: 10px;
}

#privacy_terms h2,
#privacy_terms h3,
#privacy_terms h4
{
    margin-bottom: 8px;
}
#privacy_terms p
{
    display: inline-block;
}
#privacy_terms .content > p
{
    margin-bottom: 10px;
}

#privacy_terms ul
{
    margin: 8px 0;
    padding: 10px;
    background-color: rgba(var(--primary), 5%);
}
#privacy_terms li
{
    margin-bottom: 8px;
    list-style: none !important;
}

#privacy_terms li:last-child
{
    margin-bottom: 0;
}

#privacy_terms a
{
    color: rgb(var(--quaternary));
}
#privacy_terms a:hover
{
    text-decoration: underline;
}


/* ---- F O O T E R ---- */

footer button.up
{
    border-radius: 100%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
    z-index: 99;
    border: 5px solid rgb(var(--secondary));
    fill: rgb(var(--services-text));
}
footer button.up svg
{
    transition: transform 200ms ease-in-out;
}
footer button.up:hover svg
{
    transform: translateY(-2px);
}

footer > .content
{
    position: relative;
    background-color: rgb(var(--quaternary));
}
footer > .content::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, rgba(var(--primary)));
}

footer > .content > .container
{
    z-index: 1;
    display: flex;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
}
footer .more-info
{
    display: flex;
    column-gap: 80px;
}

footer .more-info > div
{
    position: relative;
}
footer .more-info > div::after
{
    content: '';
    position: absolute;
    top: 0;
    right: calc(-80px/2);
    width: 1px;
    height: 100%;
    background: rgba(var(--services-text), 10%);
}
footer .more-info > div:last-child:after
{
    display: none;
}

footer .widget *> li,
footer .widget *> a
{
    display: flex;
    align-items: center;
    color: currentColor;
}
footer .widget *> li
{
    margin-bottom: 8px;
}
footer .widget *> li:hover .icon
{
    opacity: 100%;
}

footer .widget *> h1
{
    text-transform: uppercase;
    margin-bottom: 12px;
}
footer .widget *> .icon
{
    height: 30px;
    margin-right: 8px;
    opacity: 90%;
    fill: rgb(var(--primary));
}
footer .widget *> li span
{
    opacity: 64%;
    font-family: "Barlow Semi Condensed", sans-serif;
}

footer .map
{
    width: 424px;
    height: 220px;
    overflow: hidden;
    border-radius: 4px;
    border-width: 1px;
    background-color: rgba(var(--primary), 20%);
}

footer .copyright
{
    padding: 10px 0;
    background-color: rgba(var(--primary), 8%);
    font-family: "Barlow Semi Condensed", sans-serif;
}
footer .copyright > .container
{
    display: flex;
    justify-content: space-between;
}
footer .copyright *> p
{
    color: rgba(var(--tertiary), 80%);
}
footer .copyright *> a
{
    color: rgb(var(--quaternary));
}
footer .copyright *> a:hover
{
    text-decoration: underline;
}

/* ---- W H A T S A P P - A R E A ---- */

.floating_area
{
    z-index: 99;
    position: fixed;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: right;

    padding: 10px;
}

.whatsapp-icon
{
    width: 84px;
    height: 84px;
    border-radius: 100%;
    border: 0;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m10.894531 512c-2.875 0-5.671875-1.136719-7.746093-3.234375-2.734376-2.765625-3.789063-6.78125-2.761719-10.535156l33.285156-121.546875c-20.722656-37.472656-31.648437-79.863282-31.632813-122.894532.058594-139.941406 113.941407-253.789062 253.871094-253.789062 67.871094.0273438 131.644532 26.464844 179.578125 74.433594 47.925781 47.972656 74.308594 111.742187 74.289063 179.558594-.0625 139.945312-113.945313 253.800781-253.867188 253.800781 0 0-.105468 0-.109375 0-40.871093-.015625-81.390625-9.976563-117.46875-28.84375l-124.675781 32.695312c-.914062.238281-1.84375.355469-2.761719.355469zm0 0' fill='%23E5E5E5' data-original='%23e5e5e5'%3E%3C/path%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m10.894531 501.105469 34.46875-125.871094c-21.261719-36.839844-32.445312-78.628906-32.429687-121.441406.054687-133.933594 109.046875-242.898438 242.976562-242.898438 64.992188.027344 125.996094 25.324219 171.871094 71.238281 45.871094 45.914063 71.125 106.945313 71.101562 171.855469-.058593 133.929688-109.066406 242.910157-242.972656 242.910157-.007812 0 .003906 0 0 0h-.105468c-40.664063-.015626-80.617188-10.214844-116.105469-29.570313zm134.769531-77.75 7.378907 4.371093c31 18.398438 66.542969 28.128907 102.789062 28.148438h.078125c111.304688 0 201.898438-90.578125 201.945313-201.902344.019531-53.949218-20.964844-104.679687-59.09375-142.839844-38.132813-38.160156-88.832031-59.1875-142.777344-59.210937-111.394531 0-201.984375 90.566406-202.027344 201.886719-.015625 38.148437 10.65625 75.296875 30.875 107.445312l4.804688 7.640625-20.40625 74.5zm0 0' fill='%23FFFFFF' data-original='%23ffffff'%3E%3C/path%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m19.34375 492.625 33.277344-121.519531c-20.53125-35.5625-31.324219-75.910157-31.3125-117.234375.050781-129.296875 105.273437-234.488282 234.558594-234.488282 62.75.027344 121.644531 24.449219 165.921874 68.773438 44.289063 44.324219 68.664063 103.242188 68.640626 165.898438-.054688 129.300781-105.28125 234.503906-234.550782 234.503906-.011718 0 .003906 0 0 0h-.105468c-39.253907-.015625-77.828126-9.867188-112.085938-28.539063zm0 0' fill='%2364B161' data-original='%2364b161'%3E%3C/path%3E%3Cg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF'%3E%3Cpath d='m10.894531 501.105469 34.46875-125.871094c-21.261719-36.839844-32.445312-78.628906-32.429687-121.441406.054687-133.933594 109.046875-242.898438 242.976562-242.898438 64.992188.027344 125.996094 25.324219 171.871094 71.238281 45.871094 45.914063 71.125 106.945313 71.101562 171.855469-.058593 133.929688-109.066406 242.910157-242.972656 242.910157-.007812 0 .003906 0 0 0h-.105468c-40.664063-.015626-80.617188-10.214844-116.105469-29.570313zm134.769531-77.75 7.378907 4.371093c31 18.398438 66.542969 28.128907 102.789062 28.148438h.078125c111.304688 0 201.898438-90.578125 201.945313-201.902344.019531-53.949218-20.964844-104.679687-59.09375-142.839844-38.132813-38.160156-88.832031-59.1875-142.777344-59.210937-111.394531 0-201.984375 90.566406-202.027344 201.886719-.015625 38.148437 10.65625 75.296875 30.875 107.445312l4.804688 7.640625-20.40625 74.5zm0 0' fill='%23FFFFFF' data-original='%23ffffff'%3E%3C/path%3E%3Cpath d='m195.183594 152.246094c-4.546875-10.109375-9.335938-10.3125-13.664063-10.488282-3.539062-.152343-7.589843-.144531-11.632812-.144531-4.046875 0-10.625 1.523438-16.1875 7.597657-5.566407 6.074218-21.253907 20.761718-21.253907 50.632812 0 29.875 21.757813 58.738281 24.792969 62.792969 3.035157 4.050781 42 67.308593 103.707031 91.644531 51.285157 20.226562 61.71875 16.203125 72.851563 15.191406 11.132813-1.011718 35.917969-14.6875 40.976563-28.863281 5.0625-14.175781 5.0625-26.324219 3.542968-28.867187-1.519531-2.527344-5.566406-4.046876-11.636718-7.082032-6.070313-3.035156-35.917969-17.726562-41.484376-19.75-5.566406-2.027344-9.613281-3.035156-13.660156 3.042969-4.050781 6.070313-15.675781 19.742187-19.21875 23.789063-3.542968 4.058593-7.085937 4.566406-13.15625 1.527343-6.070312-3.042969-25.625-9.449219-48.820312-30.132812-18.046875-16.089844-30.234375-35.964844-33.777344-42.042969-3.539062-6.070312-.058594-9.070312 2.667969-12.386719 4.910156-5.972656 13.148437-16.710937 15.171875-20.757812 2.023437-4.054688 1.011718-7.597657-.503906-10.636719-1.519532-3.035156-13.320313-33.058594-18.714844-45.066406zm0 0' fill-rule='evenodd' fill='%23FFFFFF' %3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.whatsapp-icon:hover
{
    background-color: rgba(255, 255, 255,.2);
}

.whatsapp-chat.show
{
    visibility: visible;
}
.whatsapp-chat
{
    visibility: hidden;
    position: absolute;
    right: 10px;
    bottom: 96px;
    width: 334px;
    border-radius: 12px;
    overflow: hidden;

    background-position: 80%;
    background-color: rgb(238, 232, 225);
    background-image: url('../image/bg-chat-whatsapp.png');
}
.whatsapp-chat > header
{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 129, 105);
}
.whatsapp-chat > header .closed
{
    display: flex;
    align-items: center;
    justify-content: end;
}
.whatsapp-chat > header .closed button
{
    border: 0;
    opacity: .6;
    cursor: pointer;
    font-size: 1.4em;
    width: 1.6em;
    height: 1.4em;

    background-size: 34%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.00061 511.96919'%3E%3Cpath d='M340.479,256.99274,498.87164,98.62164a44.76688,44.76688,0,0,0,0-63.344L477.757,14.163a44.78651,44.78651,0,0,0-63.37677-.03283L255.99829,172.512,97.61639,14.13013a44.77663,44.77663,0,0,0-63.344,0L13.12488,35.24481a44.78337,44.78337,0,0,0,0,63.34949L171.52045,256.98981,13.12488,415.38538a44.78336,44.78336,0,0,0,0,63.34948l21.11468,21.11469a44.78337,44.78337,0,0,0,63.34949,0L255.99542,341.46478,414.38019,499.84955a44.78329,44.78329,0,0,0,63.34942,0l21.11469-21.11469a44.74875,44.74875,0,0,0,.02734-63.34948Z' transform='translate(-0.00002 -1.00522)' fill='%23ffffff'/%3E%3C/svg%3E");
}
.whatsapp-chat > header .closed button:hover
{
    opacity: .8;
}
.whatsapp-chat > header .content
{
    display: flex;
    align-items: center;
    padding: 0px 12px 12px 12px;
}

.whatsapp-chat > header .picture
{
    width: 46px;
    height: 46px;
    border-radius: 100%;
    overflow: hidden;
}
.whatsapp-chat > header .picture > img
{
    height: 100%;
}
.whatsapp-chat > header .inf
{
    margin-left: 10px;
}
.whatsapp-chat > header .inf > .name
{
    font-weight: 700;
}
.whatsapp-chat > header .inf > .tx
{
    font-weight: 300;
}

.whatsapp-chat > .main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 200px;
    padding: 16px 12px;
}

.whatsapp-chat > .main > .chat
{
    z-index: 1;
    position: relative;
    width: max-content;
    padding: 10px 14px;
    border-radius: 16px;
    color: rgba(0, 0, 0, .80);
    box-shadow: 0px 2px 4px 0px rgb(000, 000, 000, .1);
    background-color: rgb(255, 255, 255);
}
.whatsapp-chat > .main > .chat::before
{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: -8px;
    border-radius: 2px;
    border-right: 26px solid rgb(255, 255, 255);
    border-bottom: 50px solid transparent;
}

.whatsapp-chat > .main > button
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    padding: 12px 18px;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    border-radius: 12em;
    color: rgb(255, 255, 255);
    background: rgb(100, 177, 97);

    transform: scale(1);
    transition: transform 200ms ease-in-out;
}
.whatsapp-chat > .main > button:hover
{
    transform: scale(1.04);
}
.whatsapp-chat > .main > button::before
{
    content: '';
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 8px;

    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m10.894531 512c-2.875 0-5.671875-1.136719-7.746093-3.234375-2.734376-2.765625-3.789063-6.78125-2.761719-10.535156l33.285156-121.546875c-20.722656-37.472656-31.648437-79.863282-31.632813-122.894532.058594-139.941406 113.941407-253.789062 253.871094-253.789062 67.871094.0273438 131.644532 26.464844 179.578125 74.433594 47.925781 47.972656 74.308594 111.742187 74.289063 179.558594-.0625 139.945312-113.945313 253.800781-253.867188 253.800781 0 0-.105468 0-.109375 0-40.871093-.015625-81.390625-9.976563-117.46875-28.84375l-124.675781 32.695312c-.914062.238281-1.84375.355469-2.761719.355469zm0 0' fill='%23E5E5E5' data-original='%23e5e5e5'%3E%3C/path%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m10.894531 501.105469 34.46875-125.871094c-21.261719-36.839844-32.445312-78.628906-32.429687-121.441406.054687-133.933594 109.046875-242.898438 242.976562-242.898438 64.992188.027344 125.996094 25.324219 171.871094 71.238281 45.871094 45.914063 71.125 106.945313 71.101562 171.855469-.058593 133.929688-109.066406 242.910157-242.972656 242.910157-.007812 0 .003906 0 0 0h-.105468c-40.664063-.015626-80.617188-10.214844-116.105469-29.570313zm134.769531-77.75 7.378907 4.371093c31 18.398438 66.542969 28.128907 102.789062 28.148438h.078125c111.304688 0 201.898438-90.578125 201.945313-201.902344.019531-53.949218-20.964844-104.679687-59.09375-142.839844-38.132813-38.160156-88.832031-59.1875-142.777344-59.210937-111.394531 0-201.984375 90.566406-202.027344 201.886719-.015625 38.148437 10.65625 75.296875 30.875 107.445312l4.804688 7.640625-20.40625 74.5zm0 0' fill='%23FFFFFF' data-original='%23ffffff'%3E%3C/path%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m19.34375 492.625 33.277344-121.519531c-20.53125-35.5625-31.324219-75.910157-31.3125-117.234375.050781-129.296875 105.273437-234.488282 234.558594-234.488282 62.75.027344 121.644531 24.449219 165.921874 68.773438 44.289063 44.324219 68.664063 103.242188 68.640626 165.898438-.054688 129.300781-105.28125 234.503906-234.550782 234.503906-.011718 0 .003906 0 0 0h-.105468c-39.253907-.015625-77.828126-9.867188-112.085938-28.539063zm0 0' fill='%2364B161' data-original='%2364b161'%3E%3C/path%3E%3Cg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF'%3E%3Cpath d='m10.894531 501.105469 34.46875-125.871094c-21.261719-36.839844-32.445312-78.628906-32.429687-121.441406.054687-133.933594 109.046875-242.898438 242.976562-242.898438 64.992188.027344 125.996094 25.324219 171.871094 71.238281 45.871094 45.914063 71.125 106.945313 71.101562 171.855469-.058593 133.929688-109.066406 242.910157-242.972656 242.910157-.007812 0 .003906 0 0 0h-.105468c-40.664063-.015626-80.617188-10.214844-116.105469-29.570313zm134.769531-77.75 7.378907 4.371093c31 18.398438 66.542969 28.128907 102.789062 28.148438h.078125c111.304688 0 201.898438-90.578125 201.945313-201.902344.019531-53.949218-20.964844-104.679687-59.09375-142.839844-38.132813-38.160156-88.832031-59.1875-142.777344-59.210937-111.394531 0-201.984375 90.566406-202.027344 201.886719-.015625 38.148437 10.65625 75.296875 30.875 107.445312l4.804688 7.640625-20.40625 74.5zm0 0' fill='%23FFFFFF' data-original='%23ffffff'%3E%3C/path%3E%3Cpath d='m195.183594 152.246094c-4.546875-10.109375-9.335938-10.3125-13.664063-10.488282-3.539062-.152343-7.589843-.144531-11.632812-.144531-4.046875 0-10.625 1.523438-16.1875 7.597657-5.566407 6.074218-21.253907 20.761718-21.253907 50.632812 0 29.875 21.757813 58.738281 24.792969 62.792969 3.035157 4.050781 42 67.308593 103.707031 91.644531 51.285157 20.226562 61.71875 16.203125 72.851563 15.191406 11.132813-1.011718 35.917969-14.6875 40.976563-28.863281 5.0625-14.175781 5.0625-26.324219 3.542968-28.867187-1.519531-2.527344-5.566406-4.046876-11.636718-7.082032-6.070313-3.035156-35.917969-17.726562-41.484376-19.75-5.566406-2.027344-9.613281-3.035156-13.660156 3.042969-4.050781 6.070313-15.675781 19.742187-19.21875 23.789063-3.542968 4.058593-7.085937 4.566406-13.15625 1.527343-6.070312-3.042969-25.625-9.449219-48.820312-30.132812-18.046875-16.089844-30.234375-35.964844-33.777344-42.042969-3.539062-6.070312-.058594-9.070312 2.667969-12.386719 4.910156-5.972656 13.148437-16.710937 15.171875-20.757812 2.023437-4.054688 1.011718-7.597657-.503906-10.636719-1.519532-3.035156-13.320313-33.058594-18.714844-45.066406zm0 0' fill-rule='evenodd' fill='%23FFFFFF' %3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}